#page_main {
    background: url("/public/index/bg_3.jpg") #FFF no-repeat;
    background-size: 100% 80%;
}
@media only screen and (min-width: 760px) {
    #page_main {
        background-size: 100% 80%;
    }
}

#div_title {
}

#div_title img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 130px;
    height: 220px;
}

/* 导航按键 */
#nav {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}

#nav p {
    margin: 5px 0;
}

#nav p a {
    color: #525D64;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: transparent;
    font-weight: bold;
}

hr {
    margin: 3px 0;
}

#div_footer {
    position: absolute;
    width: 100%;
    top: 85%;
    color: #D3D3D3;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
}

#div_footer a{
    color: #A3A3A3;
}

#div_footer a:hover {
    color: #ee782a;
}

#div_footer p:first-child {
    font-size: 12px;
}