#div_nav {
    position: fixed;
    top: 0;
    background: rgba(255,255,255,0.95);
    padding: 10px 12px;
    z-index: 100;
}

header {
    padding: 2% 10px;
}

.layui-tab-item a {
    display: block;
    padding: 8px 0;
    border-bottom: #fafafa 1px solid;
    color: #464646;
}

.layui-tab-item a:hover {

}

.layui-btn-group {
    text-align: center;
}

.layui-btn-group a:first-child {
    width: 40%;
}

.layui-btn-group a:last-child {
    width: 55%;
}