.leftMenu a {
    text-decoration: none;
    display: block;
}

.leftMenu {
    background: rgba(255,255,255,0.95);
    left: -1000px;
    position: fixed;
    top: 0;
    display: block;
    height: 100%;
    width: 80%;
    min-width: 140px;
    max-width: 440px;
    z-index: 90002;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    overflow: auto;
}

.leftMenu.menu-open {
    left: 0;
}

.leftMenu ul {
    list-style: none;
    padding-left: 10px;
}

.leftMenu ul li {
    position: relative;
    padding: 10px 0;
    border-bottom: #F0F0F0 1px solid;
}

.menu-dark-backdrop {
    background: rgba(0,0,0,0);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.menu-dark-backdrop.in {
    height: 100%;
    z-index: 90001;
    background: rgba(0,0,0,0.5);
}
